<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instrucciones</title>
</head>
<body>
    <img src="https://jobs.coderhouse.com/assets/logos_coderhouse.png" alt="Logo CoderHouse" width="400" heigh="150">
    <h1>Instrucciones de Uso de la Aplicaci&oacute;n Familia</h1>
    <h2>1. Ingreso de Familiares</h2>
    <p style="color:gray">Para realizar la carga de un nuevo familiar, deber&aacute; ingresar a <a href=http:/127.0.0.1:8000/ingresoFamiliar>http:/127.0.0.1:8000/ingresoFamiliar/</a> e insertar los siguientes par&aacute;metros, separados por comas:</p> 
    <li>Nombre</li>
    <li>Apellido</li>
    <li>Fecha de Nacimiento</li>
    <li>N&uacute;mero de Documento</li>
    <br>
    <p style="color:red">Si deseara ingresar m&aacute;s de un texto en alg&uacute;n campo (por ejemplo, dos apellidos) debe ingresarlos separados por dos guiones bajos.</p>
</body>
</html>