<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instrucciones</title>
</head>
<body>
    <img src="https://images.ctfassets.net/t5yal6u1wvnw/5EMxiqpZ4RqdmwHBpTkcYN/ee542d041f22d71df94cf5f301e487a8/logo_coderhouse.png" alt="Header CoderHouse" width="200" height="75">
    <h1>Instrucciones de Uso de la Aplicación Familia</h1>
</body>
</html>