<h1>MIEMBROS DE MI FAMILIA</h1>
<a href="{% URL 'AGREGAR' %}">AGREGAR FAMILIAR</a>
<br>
<br>
{% if personas %}
    {% for p in personas %}
        <li><strong>Identificador:</strong> {{p.id}}</li>
        <li><strong>Nombre:</strong> {{p.nombre}}</li>
        <li><strong>Apellido:</strong> {{p.apellido}}</li>
        <li><strong>Fecha de Nacimiento:</strong> {{p.fecha_nacimiento}}</li>
        <li><strong>N&uacute;mero de Documento:</strong> {{p.numero_documento}}</li>
        <li><strong>E-Mail:</strong> {{p.email}}</li>
        <a href="{% URL 'BORRAR' identificador = p.id %}">BORRAR</a>
        <br>
        <br>
    {% endfor %}
{% else %}
    <p>No tiene familiares cargados.</p>
{% endif %}